@media (max-width: 1024px) {
  header {
    flex-direction: column;
  }
  .menu {
    text-align: center;
    width: 90vw !important;
    margin-right: 20px !important;
  }
  .info {
    margin-right: 0 !important;
    width: 90vw !important;
    flex-direction: column;
    text-align: center;
    button {
      width: 100% !important;
    }
    input {
      width: 100% !important;
    }
    img {
      margin-top: 30px;
    }
  }
  .info .right {
    text-align: left;
    margin-top: 20px;
  }
  .parent {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .roll-dice {
    width: 90vw !important;
  }
  .parent-2 {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .info .left p {
    display: block !important;
  }
  footer {
    flex-direction: column;
    .result {
      width: 90vw !important;
    }
  }
  .quote {
    font-size: 15px;
  }
}
